.card-item {
  height: 45vh;
  list-style: none;
}

.card-link {
  height: 42.5vh;
  user-select: none;
  display: block;
  background-color: rgb(212, 212, 223);
  padding: 10px;
  border-radius: 12px;
  text-decoration: none;
  box-shadow: 0 5px 5px black;
  border: 2px solid transparent;
  transition: 0.2s ease;
}

.card-link:hover {
  border-color: blue;
}

.place-img {
  height: 20vh;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.badge {
  color: rgb(239, 230, 230);
  padding: 5px 5px;
  font-size: 0.95rem;
  font-weight: 500;
  margin: 16px 0 18px;
  background-color: rgb(100, 100, 189);
  width: fit-content;
  border-radius: 50px;
}

.place-info {
  font-size: 0.9rem;
  color: black;
  font-weight: 100;
}

.info {
  height: 30px;
  width: 50px;
  border-radius: 10px;
  margin: 5px 0 5px;
  cursor: pointer;
  padding: 5px 0px 10px;
}

.info:hover {
  color: aliceblue;
  background-color: rgb(112, 112, 183);
}
