.card-link {
  height: 42.5vh;
  user-select: none;
  display: block;
  padding: 10px;
  border-radius: 12px;
  text-decoration: none;
  box-shadow: 0 5px 5px black;
  border: 2px solid transparent;
  transition: 0.2s ease;
}

.card-link:hover {
  border-color: rgb(0, 0, 0);
}

.place-img {
  height: 20vh;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.badge {
  color: rgb(239, 230, 230);
  padding: 5px 5px;
  font-size: 0.95rem;
  font-weight: 500;
  margin: 8px 0 8px;
  background-color: rgb(100, 100, 189);
  width: fit-content;
  border-radius: 50px;
}

.place-info {
  font-size: 0.9rem;
  color: black;
  font-weight: 100;
}
